@model InventoryApp.Models.Purchase

@{
    ViewData["Title"] = "Delete Purchase";
}


<div class="card shadow-sm">
    <div class="card-header">
        <h3>Delete Purchase</h3>
    </div>
    <div class="card-body">
         <p>Are you sure you want to delete purchase history of <strong>@Model.Product?.Name</strong>?</p>

<div>
    <strong>Product:</strong> @Model.Product.Name <br />
    <strong>Supplier:</strong> @Model.Supplier?.Name <br />
    <strong>Quantity:</strong> @Model.Quantity <br />
    <strong>Total:</strong> @(Model.Quantity * Model.PricePerUnit) <br />
</div>

<div class="text-end mt-3">
<form asp-action="Delete">
    <input type="hidden" asp-for="PurchaseId" />
    <button type="submit" class="btn btn-danger">Delete</button> 
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}