@model InventoryApp.Models.Purchase

@{
    ViewData["Title"] = "Purchase Details";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3>Purchase Details</h3>
    </div>
    <div class="card-body">
    <h4>@Model.Product?.Name</h4>
    <hr />

<dl class="row">
    <dt class="col-sm-3">Product</dt>
    <dd class="col-sm-9">@Model.Product.Name</dd>

    <dt class="col-sm-3">Supplier</dt>
    <dd class="col-sm-9">@Model.Supplier?.Name</dd>

    <dt class="col-sm-3">Quantity</dt>
    <dd class="col-sm-9">@Model.Quantity</dd>

    <dt class="col-sm-3">Price/Unit</dt>
    <dd class="col-sm-9">@Model.PricePerUnit</dd>

    <dt class="col-sm-3">Total</dt>
    <dd class="col-sm-9">@(@Model.Quantity * @Model.PricePerUnit)</dd>

    <dt class="col-sm-3">Date</dt>
    <dd class="col-sm-9">@Model.PurchaseDate.ToString("yyyy-MM-dd")</dd>
</dl>
</div>

<div class="text-end m-3">
    <a asp-action="Edit" asp-route-id="@Model?.PurchaseId" class="btn btn-primary">Edit</a> 
     <a asp-action="Delete" asp-route-id="@Model?.PurchaseId" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}