@model InventoryApp.Models.Sale

@{
    ViewData["Title"] = "Sale Details";
}

<h1>Sale Details</h1>

<dl class="row">
    <dt class="col-sm-2">Product</dt>
    <dd class="col-sm-10">@Model.Product.Name</dd>

    <dt class="col-sm-2">Customer</dt>
    <dd class="col-sm-10">@Model.Customer?.Name</dd>

    <dt class="col-sm-2">Quantity</dt>
    <dd class="col-sm-10">@Model.Quantity</dd>

    <dt class="col-sm-2">Price/Unit</dt>
    <dd class="col-sm-10">@Model.PricePerUnit</dd>

    <dt class="col-sm-2">Total</dt>
    <dd class="col-sm-10">@(@Model.Quantity * @Model.PricePerUnit)</dd>

    <dt class="col-sm-2">Date</dt>
    <dd class="col-sm-10">@Model.SaleDate.ToString("yyyy-MM-dd")</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.SaleId" class="btn btn-primary">Edit</a> |
<a asp-action="Index" class="btn btn-secondary">Back</a>
