@model InventoryApp.Models.Customer

@{
    ViewData["Title"] = "Delete Customer";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3>Delete Customer</h3>
    </div>
    <div class="card-body">
         <p>Are you sure you want to delete <strong>@Model.Name</strong>?</p>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
         <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Phone)
        </dd>
         <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
 <div class="text-end m-3">
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="CustomerId" />
    <button type="submit" class="btn btn-danger">Delete</button> 
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}