@model IEnumerable<InventoryApp.Models.Customer>

@{
    ViewData["Title"] = "Customer Page";
}

<h1>Customers</h1>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<p> <a asp-action="Create" class="btn btn-primary text-end">Create </a></p>

<table class="table" >
    <thead>
        <tr>
            <th>   
                             @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>  
                              @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>     
                           @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>   
                             @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> 

                </td>
                <td>
                    
                    <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> 
                </td>

            </tr>

        }
    </tbody>
</table>
