@model InventoryApp.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3>Product Details</h3>
    </div>
    <div class="card-body">
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Purchase Price</dt>
        <dd class="col-sm-9">@Model.PurchasePrice</dd>

        <dt class="col-sm-3">Sell Price</dt>
        <dd class="col-sm-9">@Model.SellPrice</dd>

        <dt class="col-sm-3">Quantity in Stock</dt>
        <dd class="col-sm-9">@Model.QuantityInStock</dd>

        <dt class="col-sm-3">Category</dt>
        <dd class="col-sm-9">@Model.Category?.Name</dd>
    </dl>
</div>

 <div class="text-end m-3">
    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-warning">Edit</a>
     <a asp-action="Delete" asp-route-id="@Model?.ProductId" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
 </div>
    </div>
</div>
