@model InventoryApp.Models.Category

@{
    ViewData["Title"] = "Delete Category";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3>Delete Product</h3>
    </div>
    <div class="card-body">

  <p>Are you sure you want to delete <strong>@Model.Name</strong>?</p>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
      <div class="text-end mt-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
    </div>
</div>
