@model InventoryApp.Models.Category

@{
    ViewData["Title"] = "Category Details";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3>Category Details</h3>
    </div>
    <div class="card-body">
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="text-end m-3">
    <a asp-action="Edit" asp-route-id="@Model?.CategoryId" class="btn btn-primary">Edit</a> 
     <a asp-action="Delete" asp-route-id="@Model?.CategoryId" class="btn btn-danger">Delete</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
    </div>
</div>